body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.container1 {
    margin-left: auto;
    margin-right: auto;
    height: 76px;
    width: 90%;
    background-color: #EEEEEE;
}

.container2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
#firstbox {
    width:34%;
    height: 20px;
    background-color:#7ee5da;
    padding-bottom:50px;
    text-align: center;
    float: left;
    margin-top: 5px;
    padding-top: 10px;
    margin-right: 4px;
}

#secondbox{
    width:20%;
    height: 20px;
   
    background-color:#70ccc2;
    padding-bottom:50px;
    text-align: center;
    float: left;
    margin-top: 5px;
    font-size: small;
    padding-top: 10px;
    margin-right:4px;
}
#thirdbox{
    width:45%;
    height: 30px;
    
    background-color:#62b3aa;
    padding-bottom:50px;
    text-align: center;
    float: left;
    margin-top: 5px;
    font-size: small
}

.lastthing {
    text-align: center;
    clear: left;
}
